@model WebApplication4.Models.CommunityReward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommunityReward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Community_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reward_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reward_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommunityReward_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
