@model WebApplication4.Models.Collection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resident_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Officer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Officer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points_Earned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points_Earned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collection_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collection_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collection_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collection_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Collection_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
