@model IEnumerable<WebApplication4.Models.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resident_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Officer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points_Earned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Resident_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Officer_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points_Earned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Collection_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Collection_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Collection_ID })
        </td>
    </tr>
}

</table>
